<!DOCTYPE html>
<html>
  <head>
    <title>RailsWatchList</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
		<div class="banner">
			<div class="banner-content">
				<h1>Bing Watcher</h1>
				<p>Make lists and save movies</p>
				<%= link_to "New List", new_list_path, class: "btn btn-light" %>
			</div>
		</div>
    <%= yield %>
  </body>
</html>
